[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "libraries/scftolus/external/CLI11"]
	path = libraries/scftolus/external/CLI11
	url = https://github.com/CLIUtils/CLI11
